<!-- first dutyman confirmation reminder email -->
<!-- TEMPLATE -->
<p>Hi</p>

<!-- TEMPLATE -->
<p>You should have received an email from the dutyman system with details of the duties you have been allocated
this year with a request either confirm that you can do the duty OR organise a duty swap by accessing
the Dutyman system via the website (essentials menu).
</p>

<!-- TEMPLATE -->
<p>Currently $X of your allocated duties are <b>not confirmed</b> - as listed below</p>

<!-- table with list of duties goes here -->

<!-- TEMPLATE -->
<p>It would really help the duty managers in their job of making sure that each race and event can take if you
could take a couple of minutes to confirm those duties through the link below which will automatically log you in to
our dutyman system.
</p>

<!--span> links goes here </span -->

<p>Thanks for your help</p>

<!-- span> signature goes here (Andy Hohl - Vice Commodore </span -->

<!-- TEMPLATE -->
<p>If you are having difficultly using dutyman or organising a swap, please contact the relevant rota manager
(using the contact links on the website):<br>
    <span style="padding:20px;"> Race Officer, Assistant Race Officer, Cruise Officer - Matt Holmes</span><br>
    <span style="padding:20px;"> Safety Boat Driver - John Allen</span><br>
    <span style="padding:20px;"> Bar, Galley - Mathew Tanner</span><br>
</p>

<!-- second dutyman confirmation reminder email -->
<!-- TEMPLATE -->
<p>Hi</p>

<!-- TEMPLATE -->
<p>You should have received an email from the dutyman system with details of the duties you have been allocated
this year with a request either confirm that you can do the duty OR organise a duty swap by accessing
the Dutyman system via the website (essentials menu).  <u>Without members undertaking a few duties each year the club
cannot operate.</u>
</p>

<!-- TEMPLATE -->
<p>Currently $X of your allocated duties are not confirmed - and this causes unnecessary work for the volunteers
who coordinate the duty rotas.  Please take a few minutes to use the link below to confirm your outstanding duties
as soon as possible</p>

<!-- table with list of duties goes here -->


<!--span> links goes here </span -->

<!-- TEMPLATE -->
<p>Thanks for your help</p>

<!-- span> signature goes here (Andy Hohl - Vice Commodore </span -->

<!-- TEMPLATE -->
<p>If you are having difficultly using dutyman or organising a swap, please contact the relevant rota manager
    (using the contact links on the website):<br>
    <span style="padding:20px;"> Race Officer, Assistant Race Officer, Cruise Officer - Matt Holmes</span><br>
    <span style="padding:20px;"> Safety Boat Driver - John Allen</span><br>
    <span style="padding:20px;"> Bar, Galley - Mathew Tanner</span><br>
</p>