/* custom styles for rm reports application
-------------------------------------------------- */

/* theme colours
    danger = #B92C28
    primary = #2B669A

*/
*       {box-sizing: border-box;}
body    {font-family: verdana,sans-serif; font-size: 1.0em;}
h1      {font-family: Kalinga,arial,helvetica,sans-serif; font-size: 200%; letter-spacing: -1px; color: rgb(44, 76, 124);}
h2      {font-family: Kalinga,arial,helvetica,sans-serif; font-size: 150%; color: rgb(44, 76, 124);}
h3      {font-family: Kalinga,arial,helvetica,sans-serif; font-size: 125%; color: rgb(194, 0, 0);}
p       {font-weight: normal; color: rgb(0, 0, 0); line-height: 1.2em; padding-bottom: 0.2em;}

td      {display: table-cell; vertical-align: inherit;}
th      {font-size: 0.8em !important; font-weight: normal !important;}
a:link  {color: rgb(44, 76, 124); text-decoration: none;}

.title {font-family: Kalinga,arial,helvetica,sans-serif; font-weight: bold; font-size: 200%; letter-spacing: -1px; color: rgb(44, 76, 124);}
.title2 {font-family: Kalinga,arial,helvetica,sans-serif; font-weight: bold; font-size: 150%; color: rgb(44, 76, 124); padding-top: 40px}

.divider   {border-top: 1px solid slategrey; margin-top: 15px; margin-bottom: 5px;}
.clearfix  {display: block;}

.table {display: table; width: 100%;}
.table-row {display: table-row;}
.table-cell {display: table-cell;}
.truncate {white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}

.text-center {text-align: center;}
.text-right {text-align: right; padding-right: 15px; }
.text-left {text-align: left; padding-left: 15px; }
.text-grey   {color: slategrey;}
.text-alert  {color: darkred;}
.text-info   {color: #3498db;}
.small-note   {color: steelblue; font-weight: normal; line-height: 1.0em; font-size: 0.8em;}
.note    {font-weight: normal; color: rgb(0, 0, 0); line-height: 1.2em; margin: 0px; }

.pull-right  {text-align: right;}
.pull-left   {text-align: left;}
.pull-center {text-align: center;}
.pull-top    {vertical-align: top;}

.noshade   {background: none repeat scroll 0% 0% rgb(255, 255, 255);}
.lightshade{background: none repeat scroll 0% 0% rgb(238, 238, 238);}
.darkshade {background: none repeat scroll 0% 0% rgb(153, 153, 153);}

@media all {
   .page-break	{ display: none; }
}

/* print styles */
@media print {
   @page { size: A4 portrait; }
   @page :left { margin-left: 2cm; }
   @page :right { margin-left: 2cm; }

   table, figure { page-break-inside: avoid; }
   body { font-size: 12pt; }

   .noprint { display: none; }
   .page-break	{ display: block; page-break-before: always; }
}
         
